.btn {
    background-color: var(--main-color);
    outline: none;
    border-radius: 200px;
    border: var(--main-color) 1px solid;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;

    &_question {
        width: 160px;
        height: 45px;
    }
    &_ship {
        display: block;
        margin: 0 auto;
        width: 230px;
        height: 57px;
        margin-top: 39px;
        font-size: 15px;
        font-weight: 700;
        line-height: 1.17;
    
    }
    &_prices {
        display: block;
        margin: 25px auto;
        width: 160px;
        height: 45px;
    }
    &_submit {
        width: 180px;
        height: 45px;
        
     }
    &_question,
    &_ship,
    &_prices,
    &_submit {
        &:hover {
            background-color: rgba(#ec644b, 0.6);
          
        }
    }
}
