.manager {
    margin: 80px 0 0 0;
    padding: 58px 0 76px 0;
    min-height: 342px;
    background: url("../img/bg/bg_manager.jpg") no-repeat center (50% / cover);
    &__wrap {
        display: flex;
        margin: 0 auto;
        width: 102px;
        height: 102px;
        border: 1px solid #ffffff;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
    }
    &__img {
        width: 48px;
        height: 51px;
        object-fit: cover;
        
    }

    &__title {
        margin-top: 20px;
    }
    &__subtitle {
        line-height: 27px;
        font-weight: 300;
        margin: 22px 78px 0 78px;
        text-align: center;
    }
}
