.more-ship {
    padding: 51px 0 57px 0;
    &__divider {
        margin-top: 20px;
        
    }
    &__subtitle {
        margin: 0 auto;
        margin-top: 17px;
        width: 879px;
    }
    &__items {
        margin-top: 37px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px , 360px));
        grid-auto-rows: auto;
        column-gap: 30px; 
    }
    
    &__item {
        display: grid;
        grid-template-rows: 210px auto;
        grid-auto-rows: auto;
        row-gap: 28px;
    }
    &__item-img {
        img {
            max-width: 360px;
            max-height: 210px;
            object-fit: cover;
        }
    }
    &__item-text {
        p {
            margin: 10px 0 0 0;
            text-align: justify;
        }
    }
}
