.prices {
    padding: 53px 0 0 0;

    &__divider {
        margin-top: 20px;
    }
    &__subtitle {
        margin-top: 17px;
    }
    &__items {
        margin-top: 34px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(267px, 267px));
        grid-auto-rows: auto;
        column-gap: 24px;
    }
    &__item {
        border: 1px solid #e9e9e9;
    }
    &__item-head {
        background-color: var(--sub-color);
        text-align: center;
        padding: 24px 58px 22px 59px;

        font-size: 16px;
        line-height: 23px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__img {
        max-width: 60px;
        max-height: 52px;
        margin: 0 auto;
        margin-top: 14px;

        img {
            max-width: 60px;
            max-height: 52px;
            object-fit: cover;
        }
    }
    &__title {
        margin-top: 12px;
        text-align: center;
        line-height: 23px;
        font-weight: 400;
        text-transform: uppercase;
        color: #2e2e2e;
    }

    &__price {
        font-size: 28px;
        line-height: 30px;
        text-transform: none;
        color: var(--main-color);
    }

    &__descr {
        margin: 19px 19px 0 19px;
        text-align: center;
        line-height: 20px;
        color: #2e2e2e;
    }
    &__consultation {
        margin-top: 55px;
    }
    &__wrap-form {
        position: relative;
        margin-top: 71px;
        padding: 68px 0 53px 0;
        border: solid 1px rgba(0, 0, 0, 0.21);
    }

    &__img-bg {
        position: absolute;
        background-color: #fff;
        padding: 0 10px;
        top: -51px;
        left: 50%;
        transform: translatex(-50%);
    }
    &__img-wrap {
        
        display: flex;
        width: 102px;
        height: 102px;
        border: 1px solid var(--main-color);
        border-radius: 100%;
        justify-content: center;
        align-items: center;
        // background-color:#fff;

        img {
            max-width: 59px;
            max-height: 61px;
            object-fit: cover;
        }
        
    }
    &__btn-wrap {
        position: absolute;
        top: 143px;
        left: 50%;
        transform: translateX(-50%);
        width: 206px;
        height: 45px;
        padding: 0 13px;
        background-color:#fff;
        
    }
    
    /* 
                <div class="prices_img-wrap"><img src="icons/consultation/consultation.png" alt="consultation"></div>
                <input required name="name" placeholder="Ваше имя..." type="text">
                <input required name="phone" placeholder="Ваш номер телефон..." type="tel">
                <input required name="email" placeholder="Ваш e-mail..." type="email">
                <div class="prices_btn-wrap"><button class="btn btn__submit">Отправить заявку</button></div>
            </form> */
}
