.question {
    position: relative;
    display: flex;
    align-items: center;
    &__wrap {
        margin-right: 15px;
    }
   
    &__title {
    margin: 0;
    text-align: right;
    }
    &__tel {
        &:hover{
            color: var(--main-color);
        }
    }
   
    
}
